.product-image {
    max-width: 100%;
    border-radius: 10px;
  }
  .price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #28a745;
  }
  .old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
  }
  .color-btn.active {
    background-color: #20c997;
    color: white;
  }
  .color-btn {
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  .offer-box {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #191919;
    font-family: "Poppins", sans-serif;
  }
  * {
    margin: 0px;
    padding: 0px;
    
}
body{
    background: #000 !important;
}
.navbar {
    background-color: #000;
    /* black background */
    padding: 10px 20px;
}

.search-bar {
    width: 500px;
}

.navbar-brand {
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.menu-text {
    color: white;
    margin-left: 10px;
    font-size: 16px;
}

.location-text,
.menu-icons i {
    color: white;
}
