* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #000;
    /* black background */
    padding: 10px 20px;
}

.search-bar {
    width: 500px;
}

.navbar-brand {
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.menu-text {
    color: white;
    margin-left: 10px;
    font-size: 16px;
}

.location-text,
.menu-icons i {
    color: white;
}

.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    background: green;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
}
  
  .carousel-item  .images-size img{
    width: 100px !important;
    height: 120px !important;
  }
  